{% extends 'layout.html' %}
{% load tags %}
{% block title %}
    <h1>学习记录</h1>
{% endblock %}

{% block content %}
    <div class="form-inline">
        <form class="form-group pull-right">
            <div class="form-group">
                <select name="search_field" id="search_field" class="form-control">
                    <option value="day_num__contains">节次</option>
                    <option value="date__contains">上课时间</option>

                </select>
                <input type="text" class="form-control" id="keyword" placeholder="请输入搜索内容" autocomplete="off" name="kw">
                <button type="submit" class="btn btn-default">搜索</button>
            </div>
        </form>
    </div>
    <form action="" method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        <div class="form-group pull-left">
            <select name="action" id="action" class="form-control">
                <option value="delete_consultrecord">删除</option>
            </select>
        </div>
        <button class="btn btn-danger">Go</button>
        {{ formset.errors }}
        <table class="table table-striped table-hover table-bordered ">
            <thead>
            <tr>
                <th><input type="checkbox" id="select_all">选择</th>
                <th>序号</th>
                <th>考勤</th>
                <th>本节成绩</th>
                <th>作业批语</th>
                <th>某节课程</th>
                <th>学员</th>
                <th>编辑</th>
            </tr>
            </thead>
            <tbody>
            {% for obj in formset %}
                <tr>
                    <td>
                        <input type="checkbox" name="cid" value="{{ obj.id }}"></td>
                    {{ obj.id }}
                    <td>{{ forloop.counter }}</td>
                    <td>{{ obj.attendance }}</td>
                    <td>{{ obj.score }}</td>
                    <td>{{ obj.homework_note }}</td>
                    <td>{{ obj.instance.course_record }}</td>
                    <td class="hidden">{{ obj.course_record }}</td>
                    <td>{{ obj.instance.student }}</td>
                    <td class="hidden">{{ obj.student }}</td>
                    <td><a href=""><i class="fa fa-edit"></i></a></td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    <button class="btn btn-primary pull-right">提交</button>
    </form>
    {{ paging_html }}
{% endblock %}